<header class="header">
  <nav class="nav">
    <ul class="nav-menu">
      <li class="nav-logo">
        <img src="/company-image.png" alt="Gurkha Consulting Group" />
      </li>
      <li><a routerLink="/home" class="nav-link">HOME</a></li>
      <li><a routerLink="/contact-us" class="nav-link">CONTACT US</a></li>
      <!-- TODO: only admin role user able to View Contact Request link -->
      <!--<li><a routerLink="/view-contact-request" class="nav-link">VIEW CONTACT REQUEST</a></li> -->
      <li><a routerLink="/book-online" class="nav-link">BOOK ONLINE</a></li>
    </ul>
  </nav>
</header>
